body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #DAD9BE; 
  color: #211302;
}

.center {
  text-align: center;
}

.imgsizd {
  width:40%;
}

.about {
  font-style:italic;
  font-size:11pt;
  width:75%;
  margin:auto;
}

.post {
  font-family: snell roundhand, cursive;
}

.zombie {
  font-family: stencil Std, fantasy;
  color: #3f960a;
}